n8n_backups/lugia/6PFUlzKdLOCd2XDI.json
{
  "active": true,
  "connections": {
    "Cron Trigger (every 12h)": {
      "main": [
        [
          {
            "node": "Get Hacker News Top (HTTP Request)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Hacker News Top (HTTP Request)": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Sort1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Create Tweet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Delete a chat message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a chat message": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Create Tweet": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "XML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML1": {
      "main": [
        [
          {
            "node": "Split Out3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out3": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "XML2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML2": {
      "main": [
        [
          {
            "node": "Split Out4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out4": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "XML3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML3": {
      "main": [
        [
          {
            "node": "Split Out5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out5": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Cron Trigger (every 12h)3": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron Trigger (every 12h)4": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron Trigger (every 12h)1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron Trigger (every 12h)2": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "XML4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML4": {
      "main": [
        [
          {
            "node": "Split Out6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out6": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron Trigger (every 12h)5": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "XML5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML5": {
      "main": [
        [
          {
            "node": "Split Out7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out7": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron Trigger (every 12h)6": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort1": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-04T20:11:34.015Z",
  "id": "6PFUlzKdLOCd2XDI",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Trending Tweets",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 6
            }
          ]
        }
      },
      "id": "e8e8b651-82e7-4aaf-a8d8-f3fc345c0258",
      "name": "Cron Trigger (every 12h)",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -1184,
        432
      ]
    },
    {
      "parameters": {
        "url": "https://hn.algolia.com/api/v1/search_by_date?query=AI%20and%20coding",
        "options": {}
      },
      "id": "a2b1da51-9495-4834-979b-4434ca313052",
      "name": "Get Hacker News Top (HTTP Request)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -720,
        432
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "hits",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -512,
        432
      ],
      "id": "3683dc73-91fe-490f-a468-dd1733a42c81",
      "name": "Split Out"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Source Article(s):\n\n\n{{ $('Limit1').all().filter(item => item.json?.title && item.json?.url).map((item, i) => {\n\n  return `Article ${i + 1}: ${item.json.title}\\nURL: ${item.json.url}\\nCreated On: ${item.json.createdAt}\\nContent Summary: ${item.json.content}`\n\n}).join(\"\\n\\n\\n\") }}\n\n{{ $json.title }}",
        "hasOutputParser": true,
        "needsFallback": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are a senior principal software engineer who communicates with clarity, precision, and technical depth. \nYou write high-signal social media posts for audiences interested in AI, programming, security, system design, \ndeveloper tools, research breakthroughs, infrastructure, automation, LLM, Apple, Google, Meta, Amazon, Cloudflare, Node.JS, Anthropic, Claude and the broader technology ecosystem.\n\n## Your writing style:\n- Human, thoughtful, and concise  \n- No emojis  \n- No em dashes  \n- No hype language  \n- No filler words  \n- I like takes by theprimeagen and theo, so I want similar takes for the captions. \n- Always informative or opinionated with a strong technical point of view  \n- It can be a little quirky, hot take style, it can be a question also, it shouldn't feel like a summary, users can just read the article for it.\n\n## Your task:\nGiven a news item (title, URL, snippet), generate platform-optimized social posts that highlight the insight, \nimplication, risk, opportunity, or technical angle behind the news. Think futuristic and from multiple perspectives and personas.\nThere would be a list of articles provided in one shot. The relevanceScore is a score in 1 to 10, with 10 being highest, to rate the topic and content on relevance for the above persona and how trendy the article is. anything above 7 means it is ultra hot topic. 9 and 10 are only for seriously crazy level impact, say 50+% websites down because of AWS/Cloudflare outage. Since you are evaluating multiple articles together, do a relative ranking (duplicates allowed). Try to give higher score to ones with more controversies/impact\n\n## You must:\n1. Identify the *most interesting angle/pespective/take* for a technical audience.\n2. Produce **professional, high-signal posts** for:\n   - **X (Twitter)** → max 140 characters (minus the length of the url)\n   - **Threads** → max 400 characters (minus the length of the url)\n3. Choose the appropriate content style based on the news:\n   - one of: `\"caption\"`, `\"comment\"`, `\"question\"`, `\"opinion\"`, `\"risk\"`, `\"hot_take\"`\n4. Generate useful, relevant hashtags (2–5), no more, no emojis.\n5. Use a consistent senior-engineer voice: confident, analytical, grounded in real engineering context.\n\n## Output format:\nCRITICAL REQUIREMENT: Return a **single JSON array only**, with this exact structure (each articles is an object in this array). DO NOT INCLUDE ANYTHING ELSE, INCLUDING THE MARKDOWN FOR CODE BLOCK:\n\n```\n[\n  {\n    \"title\": \"string\",\n    \"url\": \"string\",\n    \"relevanceScore\": 1,\n    \"hashtags\": [\"string\"],\n    \"contentType\": \"caption|comment|question|opinion|risk|hot_take\",\n    \"captions\": {\n      \"x\": \"string\", // ≤100 chars (need to fit twitter's character limit along with the url and title), no emojis, no em dashes\n      \"threads\": \"string\"  // ≤400 chars, same rules\n    }\n  }\n]\n```\n\n## Rules:\n- Do NOT include additional commentary outside the JSON.\n- Do NOT include emojis or em dashes.\n- Ensure character limits are respected.\n- Posts must feel like insights from an experienced engineer, not marketing.\n- Encourage reflection or discussion without asking engagement-bait questions.\n\n"
            }
          ]
        },
        "batching": {
          "batchSize": 5,
          "delayBetweenBatches": 5000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        144,
        -176
      ],
      "id": "a3674f99-8737-426a-88d2-f88981b228b7",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        144,
        0
      ],
      "id": "470923a0-0a45-433c-ab83-903500e9e5cf",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "z11bx2G6rIdz9Lw9",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "output.relevanceScore",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        784,
        -416
      ],
      "id": "e39d9319-0c70-44b3-af58-c900943cdf18",
      "name": "Sort"
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1264,
        -416
      ],
      "id": "d4c8d322-0801-41fb-96fd-5df87b1c033d",
      "name": "Limit"
    },
    {
      "parameters": {
        "maxItems": 50
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        496,
        -416
      ],
      "id": "09ce16a8-c132-4ff7-a4f0-2c290ce185b8",
      "name": "Limit1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c16978f1-e55a-42c7-81c8-5365ef203c47",
              "name": "output",
              "value": "={{ $json.output.xCaption }}\n\n{{ $json.output.url }}\n\n{{ $json.output.hashtags.join(\" \") }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "selected",
        "includeFields": "xCaption,threadsCaption",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        -128
      ],
      "id": "14887b8d-64e8-4319-a74d-81e9ad20e463",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "IhGqY5OrCRpRlEtt",
          "mode": "list",
          "cachedResultName": "Tech Posts",
          "cachedResultUrl": "/projects/sF3cJTnf4ieuCDHa/datatables/IhGqY5OrCRpRlEtt"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "title": "={{ $('Limit').item.json.output.title }}",
            "url": "={{ $('Limit').item.json.output.url }}",
            "xCaption": "={{ $('Limit').item.json.output.xCaption }}",
            "threadsCaption": "={{ $('Limit').item.json.output.threadsCaption }}",
            "hashtags": "={{ $('Limit').item.json.output.hashtags.join(\" \") }}",
            "status": "Under Review",
            "content": "={{ $json.output }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "xCaption",
              "displayName": "xCaption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "threadsCaption",
              "displayName": "threadsCaption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "hashtags",
              "displayName": "hashtags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "xUrl",
              "displayName": "xUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1024,
        -208
      ],
      "id": "598faae9-d1da-42fc-8460-72ddbda358ba",
      "name": "Insert row",
      "disabled": true
    },
    {
      "parameters": {
        "chatId": "857042530",
        "text": "={{ $now }}\n{{ $execution.id }}\n\n{{ $json.output }}",
        "additionalFields": {
          "appendAttribution": true
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1040,
        -16
      ],
      "id": "005c8144-3ba0-4f50-9165-8a2a957c9945",
      "name": "Send a text message",
      "webhookId": "399724d0-654d-4909-85b3-6b72b19deaf9",
      "credentials": {
        "telegramApi": {
          "id": "ioFWYj91MAra3TC1",
          "name": "Lugia N8N"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.selectedPosts }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        512,
        192
      ],
      "id": "35a8e8ac-dfe2-4e66-9e13-7e511dfb75af",
      "name": "Create Tweet",
      "credentials": {
        "twitterOAuth2Api": {
          "id": "ua4OsB5T1GokIStm",
          "name": "X account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "857042530",
        "message": "={{ $execution.id }}",
        "responseType": "customForm",
        "defineForm": "json",
        "jsonOutput": "=[\n  {\n    \"fieldLabel\": \"Checkboxes\",\n    \"fieldType\": \"checkbox\",\n    \"fieldOptions\": {\n      \"values\": \n{{ $('Edit Fields').all().map(item => ({ \"option\": item.json.output })) }}\n    }\n  }\n]\n",
        "options": {
          "limitWaitTime": {
            "values": {
              "resumeAmount": 3
            }
          },
          "appendAttribution": true
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1248,
        -32
      ],
      "id": "dafe86c2-4fd9-4464-9583-e6ee24684705",
      "name": "Send message and wait for response",
      "webhookId": "69fb4bfc-aa6c-4d73-963f-a0cbc52bc1e7",
      "credentials": {
        "telegramApi": {
          "id": "ioFWYj91MAra3TC1",
          "name": "Lugia N8N"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "af4e03c9-785c-4ae7-a973-86210d4b9a44",
              "leftValue": "={{ $json.createdAt }}",
              "rightValue": "={{ new Date(Date.now() - 5 * 24 * 60 * 60 * 1000) }}",
              "operator": {
                "type": "dateTime",
                "operation": "afterOrEquals"
              }
            },
            {
              "id": "3b33c1f3-fb13-4b0d-bafb-ac13f852456b",
              "leftValue": "={{ $json.updatedAt }}",
              "rightValue": "={{ new Date(Date.now() - 5 * 24 * 60 * 60 * 1000) }}",
              "operator": {
                "type": "dateTime",
                "operation": "afterOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        96,
        -416
      ],
      "id": "3a774a1c-f8c6-4571-b121-1e4eddea8916",
      "name": "Filter"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nlet selectedPosts = []\nfor (const item of $input.all()) {\n  selectedPosts = [...selectedPosts, ...Object.values(item.json.data.Checkboxes)]\n}\n\nreturn { selectedPosts: selectedPosts };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        192
      ],
      "id": "cd79ac68-bb51-412b-95b3-ea60e310ccd6",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "fieldToSplitOut": "selectedPosts",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        320,
        192
      ],
      "id": "7a528de7-55cd-47a0-8b3e-1bc2af3fe0fa",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nlet selectedMessages = []\nfor (const item of $input.all()) {\n  selectedMessages = [...selectedMessages, ...item.json.data.Checkboxes]\n}\n\nconst messages = $('Send a text message').all()\n  .map(item => ({ \n    chat: item.json.result.chat.id,\n    messageId: item.json.result.message_id,\n    message: item.json.result.text\n  }))\n\nconst messagesToDelete = []\n\nfor (const message of messages) {\n  let found = false\n  for (const selected of selectedMessages) {\n    if (message.message.includes(selected)) {\n      found = true\n      continue\n    }\n  }\n\n  if (!found) {\n    messagesToDelete.push(message)\n  }\n}\n\n\nreturn { messagesToDelete }\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        384
      ],
      "id": "a27e59e3-75b4-4ea3-89c0-5eed046e1d89",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2d86b969-6ecb-4b92-93e9-af4bf687ecc1",
              "leftValue": "={{ $json.output.relevanceScore }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "6aadd334-ff31-4ff8-a9bf-824d17601f39",
              "leftValue": "={{ $json._highlightResult }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1024,
        -416
      ],
      "id": "03c4f4ba-3eab-4eea-b04e-6b10fe1c7724",
      "name": "Filter1"
    },
    {
      "parameters": {
        "operation": "deleteMessage",
        "chatId": "={{ $json.messagesToDelete[0].chat }}",
        "messageId": "={{ $json.messagesToDelete[0].messageId }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        336,
        384
      ],
      "id": "ae1e5f2d-af8a-4f7a-af05-7a21bb4cf31d",
      "name": "Delete a chat message",
      "webhookId": "d494e6c9-220d-41e3-a5c9-628841f4beb3",
      "credentials": {
        "telegramApi": {
          "id": "ioFWYj91MAra3TC1",
          "name": "Lugia N8N"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        928,
        272
      ],
      "id": "8656e4bb-a29a-43c8-b197-523898163f41",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "41eec342-853e-45d1-9486-d9402dd43efa",
              "name": "content",
              "value": "={{ $json._highlightResult.comment_text.value }}",
              "type": "string"
            },
            {
              "id": "0824e85a-3a3c-4528-8e98-b53336041279",
              "name": "title",
              "value": "={{ $json.story_title }}",
              "type": "string"
            },
            {
              "id": "31d687a1-b404-4f22-ab5d-760b754b9641",
              "name": "url",
              "value": "={{ $json.story_url }}",
              "type": "string"
            },
            {
              "id": "6066d892-aaef-475a-a750-af884d1a5933",
              "name": "createdAt",
              "value": "={{ $json.created_at }}",
              "type": "string"
            },
            {
              "id": "56e81674-4f90-4266-9a8a-593173681fbc",
              "name": "updatedAt",
              "value": "={{ $json.updated_at }}",
              "type": "string"
            },
            {
              "id": "f7999959-4b2a-4788-84c8-c96828678709",
              "name": "source",
              "value": "hackernews",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -304,
        432
      ],
      "id": "7b97564d-df99-440e-b7be-e2e778872548",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "url": "https://blog.pragmaticengineer.com/rss/",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text",
              "outputPropertyName": "xml"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -864,
        288
      ],
      "id": "49856788-16fb-4a76-bb34-f4c642d831bb",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "dataPropertyName": "=xml",
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        -672,
        288
      ],
      "id": "3d08aa0d-5636-4a88-90d0-65e05ed1faad",
      "name": "XML"
    },
    {
      "parameters": {
        "fieldToSplitOut": "rss.channel.item",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -496,
        288
      ],
      "id": "1c16e666-bbcf-496e-bb81-aefd9cebee23",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "41eec342-853e-45d1-9486-d9402dd43efa",
              "name": "content",
              "value": "={{ $json.description }}",
              "type": "string"
            },
            {
              "id": "0824e85a-3a3c-4528-8e98-b53336041279",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "31d687a1-b404-4f22-ab5d-760b754b9641",
              "name": "url",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "6066d892-aaef-475a-a750-af884d1a5933",
              "name": "createdAt",
              "value": "={{ $json.pubDate }}",
              "type": "string"
            },
            {
              "id": "56e81674-4f90-4266-9a8a-593173681fbc",
              "name": "updatedAt",
              "value": "={{ $json.pubDate }}",
              "type": "string"
            },
            {
              "id": "f7999959-4b2a-4788-84c8-c96828678709",
              "name": "source",
              "value": "pragmaticengineer",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -304,
        288
      ],
      "id": "a06ca960-2a6f-4704-a049-cb321eeff67a",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "numberInputs": 7
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -64,
        -192
      ],
      "id": "a13707f8-d98b-4a4c-abde-19b2be86e98e",
      "name": "Merge1"
    },
    {
      "parameters": {
        "url": "https://engineering.fb.com/feed/",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text",
              "outputPropertyName": "xml"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -848,
        128
      ],
      "id": "2d61a7f9-828c-4cf9-bc64-4666de582018",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "dataPropertyName": "=xml",
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        -656,
        128
      ],
      "id": "a4a60d08-e48e-4212-a45f-68a32f5cd8b5",
      "name": "XML1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "rss.channel.item",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -480,
        128
      ],
      "id": "3791f136-4efb-4735-bbee-dd114b4b74c3",
      "name": "Split Out3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "41eec342-853e-45d1-9486-d9402dd43efa",
              "name": "content",
              "value": "={{ $json.description }}",
              "type": "string"
            },
            {
              "id": "0824e85a-3a3c-4528-8e98-b53336041279",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "31d687a1-b404-4f22-ab5d-760b754b9641",
              "name": "url",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "6066d892-aaef-475a-a750-af884d1a5933",
              "name": "createdAt",
              "value": "={{ $json.pubDate }}",
              "type": "string"
            },
            {
              "id": "56e81674-4f90-4266-9a8a-593173681fbc",
              "name": "updatedAt",
              "value": "={{ $json.pubDate }}",
              "type": "string"
            },
            {
              "id": "f7999959-4b2a-4788-84c8-c96828678709",
              "name": "source",
              "value": "fb",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -288,
        128
      ],
      "id": "1bd3fbe3-5ad4-4f0f-ae7b-3dbe632cb762",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "url": "https://github.blog/engineering.atom",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text",
              "outputPropertyName": "xml"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -848,
        -32
      ],
      "id": "2385ed0e-7847-4cec-886e-4b0eae615103",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "dataPropertyName": "=xml",
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        -656,
        -32
      ],
      "id": "5acb2d93-5186-48be-831d-559dbd10b879",
      "name": "XML2"
    },
    {
      "parameters": {
        "fieldToSplitOut": "feed.entry",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -480,
        -32
      ],
      "id": "2cb8d91c-3bb4-4111-a01b-24cfa8444550",
      "name": "Split Out4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "41eec342-853e-45d1-9486-d9402dd43efa",
              "name": "content",
              "value": "={{ $json.summary._ }}",
              "type": "string"
            },
            {
              "id": "0824e85a-3a3c-4528-8e98-b53336041279",
              "name": "title",
              "value": "={{ $json.title._ }}",
              "type": "string"
            },
            {
              "id": "31d687a1-b404-4f22-ab5d-760b754b9641",
              "name": "url",
              "value": "={{ $json.link.href }}",
              "type": "string"
            },
            {
              "id": "6066d892-aaef-475a-a750-af884d1a5933",
              "name": "createdAt",
              "value": "={{ $json.published }}",
              "type": "string"
            },
            {
              "id": "56e81674-4f90-4266-9a8a-593173681fbc",
              "name": "updatedAt",
              "value": "={{ $json.updated }}",
              "type": "string"
            },
            {
              "id": "f7999959-4b2a-4788-84c8-c96828678709",
              "name": "source",
              "value": "github",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -288,
        -32
      ],
      "id": "7f084682-d613-4e48-8e6c-14b322be0a3e",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "url": "https://www.theverge.com/rss/index.xml",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text",
              "outputPropertyName": "xml"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -848,
        -208
      ],
      "id": "85a006e2-7c70-45d8-8672-59c9a60dfe39",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "dataPropertyName": "=xml",
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        -656,
        -208
      ],
      "id": "2fa15232-50d8-4d8e-89b1-46727e1b5add",
      "name": "XML3"
    },
    {
      "parameters": {
        "fieldToSplitOut": "feed.entry",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -480,
        -208
      ],
      "id": "ac20c672-2f74-45f3-8e3c-9208cdd2f4e1",
      "name": "Split Out5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "41eec342-853e-45d1-9486-d9402dd43efa",
              "name": "content",
              "value": "={{ $json.summary._ }}",
              "type": "string"
            },
            {
              "id": "0824e85a-3a3c-4528-8e98-b53336041279",
              "name": "title",
              "value": "={{ $json.title._ }}",
              "type": "string"
            },
            {
              "id": "31d687a1-b404-4f22-ab5d-760b754b9641",
              "name": "url",
              "value": "={{ $json.link.href }}",
              "type": "string"
            },
            {
              "id": "6066d892-aaef-475a-a750-af884d1a5933",
              "name": "createdAt",
              "value": "={{ $json.published }}",
              "type": "string"
            },
            {
              "id": "56e81674-4f90-4266-9a8a-593173681fbc",
              "name": "updatedAt",
              "value": "={{ $json.updated }}",
              "type": "string"
            },
            {
              "id": "f7999959-4b2a-4788-84c8-c96828678709",
              "name": "source",
              "value": "theverge",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -288,
        -208
      ],
      "id": "28108954-3229-43ff-af80-f1887d69fbae",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 6
            }
          ]
        }
      },
      "id": "e9376370-d9e6-4392-bcd5-61adf8e16556",
      "name": "Cron Trigger (every 12h)1",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -1024,
        -32
      ]
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 6
            }
          ]
        }
      },
      "id": "a88a29aa-0f12-4cf7-bc31-71f4382f83cc",
      "name": "Cron Trigger (every 12h)2",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -1152,
        -208
      ]
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 6
            }
          ]
        }
      },
      "id": "0618219d-245a-40fc-9bdf-3e46a47f3990",
      "name": "Cron Trigger (every 12h)3",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -1040,
        288
      ]
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 6
            }
          ]
        }
      },
      "id": "9b67df12-786c-4398-b14b-c8c3bfabe8ba",
      "name": "Cron Trigger (every 12h)4",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -1184,
        128
      ]
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/feed/",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text",
              "outputPropertyName": "xml"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -848,
        -384
      ],
      "id": "7a97b83f-f57a-4ec4-a85e-8055c373e0ad",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "dataPropertyName": "=xml",
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        -656,
        -384
      ],
      "id": "9d0ddfcd-9cf6-49f8-ae90-9b4438bb608c",
      "name": "XML4"
    },
    {
      "parameters": {
        "fieldToSplitOut": "rss.channel.item",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -480,
        -384
      ],
      "id": "6e78ab37-4972-4743-b86e-f901335efa2a",
      "name": "Split Out6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "41eec342-853e-45d1-9486-d9402dd43efa",
              "name": "content",
              "value": "={{ $json.description }}",
              "type": "string"
            },
            {
              "id": "0824e85a-3a3c-4528-8e98-b53336041279",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "31d687a1-b404-4f22-ab5d-760b754b9641",
              "name": "url",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "6066d892-aaef-475a-a750-af884d1a5933",
              "name": "createdAt",
              "value": "={{ $json.pubDate }}",
              "type": "string"
            },
            {
              "id": "56e81674-4f90-4266-9a8a-593173681fbc",
              "name": "updatedAt",
              "value": "={{ $json.pubDate }}",
              "type": "string"
            },
            {
              "id": "f7999959-4b2a-4788-84c8-c96828678709",
              "name": "source",
              "value": "techcrunch",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -288,
        -384
      ],
      "id": "e1fba9d8-d3b7-4d0f-9967-43f6d3ab18d4",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 6
            }
          ]
        }
      },
      "id": "b48cb08b-ec6b-44c9-a595-bdb96c418be8",
      "name": "Cron Trigger (every 12h)5",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -1024,
        -384
      ]
    },
    {
      "parameters": {
        "url": "https://www.wired.com/feed/tag/ai/latest/rss",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text",
              "outputPropertyName": "xml"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -848,
        -560
      ],
      "id": "5d551321-1267-43b2-b7ac-f03a8e5807ba",
      "name": "HTTP Request5"
    },
    {
      "parameters": {
        "dataPropertyName": "=xml",
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        -656,
        -560
      ],
      "id": "eaee1878-553b-4c80-be8d-31c65e8d3294",
      "name": "XML5"
    },
    {
      "parameters": {
        "fieldToSplitOut": "rss.channel.item",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -480,
        -560
      ],
      "id": "5d0cd5fd-3050-4df0-8ce9-0121c2610508",
      "name": "Split Out7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "41eec342-853e-45d1-9486-d9402dd43efa",
              "name": "content",
              "value": "={{ $json.description }}",
              "type": "string"
            },
            {
              "id": "0824e85a-3a3c-4528-8e98-b53336041279",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "31d687a1-b404-4f22-ab5d-760b754b9641",
              "name": "url",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "6066d892-aaef-475a-a750-af884d1a5933",
              "name": "createdAt",
              "value": "={{ $json.pubDate }}",
              "type": "string"
            },
            {
              "id": "56e81674-4f90-4266-9a8a-593173681fbc",
              "name": "updatedAt",
              "value": "={{ $json.pubDate }}",
              "type": "string"
            },
            {
              "id": "f7999959-4b2a-4788-84c8-c96828678709",
              "name": "source",
              "value": "wired",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -288,
        -560
      ],
      "id": "b7137760-4df0-4ced-a56d-1c9fe92bb44b",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 6
            }
          ]
        }
      },
      "id": "db6a4d54-0fb4-45d7-9cc5-c2b9a924c1cf",
      "name": "Cron Trigger (every 12h)6",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -1152,
        -560
      ]
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "createdAt",
              "order": "descending"
            },
            {
              "fieldName": "updatedAt",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        304,
        -416
      ],
      "id": "ef5a98e2-a09b-420f-84f8-017cb2848b69",
      "name": "Sort1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n  {\n    \"title\": \"string\",\n    \"url\": \"string\",\n    \"relevanceScore\": 1,\n    \"hashtags\": [\"string\"],\n    \"contentType\": \"caption|comment|question|opinion|risk|hot_take\",\n    \"captions\": {\n      \"x\": \"string\",\n      \"threads\": \"string\"\n    }\n  }\n]\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        368,
        0
      ],
      "id": "82c92a2e-0abd-4004-88c1-b0485487a22f",
      "name": "Structured Output Parser"
    }
  ],
  "pinData": {},
  "repo_name": "server-configs",
  "repo_owner": "sarathm09",
  "repo_path": "n8n_backups/lugia",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-04T20:11:34.018Z",
      "createdAt": "2025-12-04T20:11:34.018Z",
      "role": "workflow:owner",
      "workflowId": "6PFUlzKdLOCd2XDI",
      "projectId": "sF3cJTnf4ieuCDHa"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 7,
  "updatedAt": "2025-12-05T02:10:28.000Z",
  "versionId": "5655b72c-818a-409b-ae94-7c713976e314"
}